{% extends "base.html" %}

{% block content %}
<div class="topnav">
  <a href="http://127.0.0.1:5000">Главная</a>
  <a href="http://127.0.0.1:5000/region">Субъекты РФ</a>
  <a href="#">Театры</a>
  <a href="#">Кинотеатры</a>
  <a class="active" href="#">Животные</a>
  <a href="#">Заповедники</a>
  <a href="#">Растения</a>
  <a href="#">ВК</a>
  <a href="#">Телеграм</a>
</div>
<h1></h1>
<div class="topnav">
  <a href="#">Насекомоядные</a>
  <a href="#">Рукокрылые</a>
  <a href="#">Грызуны</a>
  <a class="active" href="#">Хищные</a>
  <a href="#">Непарнокопытные</a>
  <a href="#">Жвачные</a>
  <a href="#">Китообразные</a>
</div>
<h1></h1>
<div class="topnav">
  <a href="#">Псовые</a>
  <a class="active" href="#">Медвежьи</a>
  <a href="#">Куньи</a>
  <a href="#">Кошачьи</a>
  <a href="#">Гиеновые</a>
  <a href="#">Ластоногие</a>
</div>
<h1></h1>
<img style="float: left;" src="static/img/img/animals/21.png" />
<div style="float: right;">
  <form class="login_form_41">
    <h1>Белый медведь</h1>
    <h1></h1>
    <h4>Можно найти в:</h4>
    <ul>
      <li>Архангельской области</li>
      <li>Камчатском крае</li>
      <li>Красноярском крае</li>
      <li>Мурманской области</li>
      <li>Ненецком автономном округе</li>
      <li>Республике Саха (Якутия)</li>
      <li>Чукотском автономном округе</li>
      <li>Ямало-Ненецком автономном округе</li>
    </ul>
    <h1></h1>
    <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Белый_медведь" class="nubex">Белый медведь</a>
  </form>
</div>
{% endblock %}