{% extends "base.html" %}

{% block content %}
<div class="topnav">
  <a href="http://127.0.0.1:5000">Главная</a>
  <a href="http://127.0.0.1:5000/region">Субъекты РФ</a>
  <a href="#">Театры</a>
  <a href="#">Кинотеатры</a>
  <a class="active" href="#">Животные</a>
  <a href="#">Заповедники</a>
  <a href="#">Растения</a>
  <a href="#">ВК</a>
  <a href="#">Телеграм</a>
</div>
<h1></h1>
<div class="topnav">
  <a href="#">Насекомоядные</a>
  <a href="#">Рукокрылые</a>
  <a href="#">Грызуны</a>
  <a class="active" href="#">Хищные</a>
  <a href="#">Непарнокопытные</a>
  <a href="#">Жвачные</a>
  <a href="#">Китообразные</a>
</div>
<h1></h1>
<div class="topnav">
  <a href="#">Псовые</a>
  <a href="#">Медвежьи</a>
  <a href="#">Куньи</a>
  <a class="active" href="#">Кошачьи</a>
  <a href="#">Гиеновые</a>
  <a href="#">Ластоногие</a>
</div>
<h1></h1>
<div style="float: right;">
    <form class="login_form_41">
        <nav>
            <h1>Кошачьи</h1>
            <ul>
                <li><a href="#section1">Кавказский лесной кот</a></li>
                <li><a href="#section2">Камышовый кот</a></li>
                <li><a href="#section3">Манул</a></li>
                <li><a href="#section4">Амурский тигр</a></li>
                <li><a href="#section5">Дальневосточный леопард</a></li>
                <li><a href="#section6">Переднеазиатский леопард</a></li>
                <li><a href="#section7">Снежный барс</a></li>
            </ul>
        </nav>
        <h1></h1>
        <h1 id="section1">Кавказский лесной кот</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Кавказе</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Кавказский_лесной_кот" class="nubex">Кавказский лесной кот</a>
        <h1></h1>
        <h1 id="section2">Камышовый кот</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Ставропольском крае</li>
            <li>В Северной Осетии</li>
            <li>В Дагестане</li>
            <li>По побережью Каспийского моря</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Камышовый_кот" class="nubex">Камышовый кот</a>
        <h1></h1>
        <h1 id="section3">Манул</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Алтае</li>
            <li>В  Туве</li>
            <li>В  Бурятии</li>
            <li>В  Красноярском крае</li>
            <li>В  Забайкальском крае</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Манул" class="nubex">Манул</a>
        <h1></h1>
        <h1 id="section4">Амурский тигр</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Амурской области</li>
            <li>В  Хабаровском крае</li>
            <li>В  Приморском крае</li>
            <li>В  Еврейской автономной области</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Амурский_тигр" class="nubex">Амурский тигр</a>
        <h1></h1>
        <h1 id="section5">Дальневосточный леопард</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На юго-западе Приморского края</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Дальневосточный_леопард" class="nubex">Дальневосточный леопард</a>
        <h1></h1>
        <h1 id="section6">Переднеазиатский леопард</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Западном Кавказе</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Переднеазиатский_леопард" class="nubex">Переднеазиатский леопард</a>
        <h1></h1>
        <h1 id="section7">Ирбис</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Красноярском крае</li>
            <li>В Хакасии</li>
            <li>В Туве</li>
            <li>В Бурятии</li>
            <li>На Алтае</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Ирбис" class="nubex">Ирбис</a>
    </form>
</div>
<img style="float: left;" src="static/img/img/animals/26.png" />
<img style="float: left;" src="static/img/img/animals/27.png" />
<img style="float: left;" src="static/img/img/animals/28.png" />
<img style="float: left;" src="static/img/img/animals/29.png" />
<img style="float: left;" src="static/img/img/animals/30.png" />
<img style="float: left;" src="static/img/img/animals/31.png" />
<img style="float: left;" src="static/img/img/animals/32.png" />
{% endblock %}