{% extends "base.html" %}

{% block content %}
<div class="topnav">
  <a class="active" href="http://127.0.0.1:5000">Главная</a>
  <a href="http://127.0.0.1:5000/region">Субъекты РФ</a>
  <a href="#">Театры</a>
  <a href="#">Кинотеатры</a>
  <a href="#">Животные</a>
  <a href="#">Заповедники</a>
  <a href="#">Растения</a>
  <a href="#">ВК</a>
  <a href="#">Телеграм</a>
</div>
<p style="float: right;"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aac360d7b6e73c876d9609ee22874ef595eceee05f133e7bfb4df671ee411248c&amp;width=883&amp;height=356&amp;lang=ru_RU&amp;scroll=true"></script></p>
<div style="float: right;">
    <form class="login_form">
        <h1>Лучший способ увидеть страну!</h1>
    </form>
</div>
{% endblock %}
