{% extends "base.html" %}

{% block content %}
<div class="topnav">
  <a href="http://127.0.0.1:5000">Главная</a>
  <a href="http://127.0.0.1:5000/region">Субъекты РФ</a>
  <a href="#">Театры</a>
  <a href="#">Кинотеатры</a>
  <a class="active" href="#">Животные</a>
  <a href="#">Заповедники</a>
  <a href="#">Растения</a>
  <a href="#">ВК</a>
  <a href="#">Телеграм</a>
</div>
<h1></h1>
<div class="topnav">
  <a href="#">Насекомоядные</a>
  <a href="#">Рукокрылые</a>
  <a href="#">Грызуны</a>
  <a class="active" href="#">Хищные</a>
  <a href="#">Непарнокопытные</a>
  <a href="#">Жвачные</a>
  <a href="#">Китообразные</a>
</div>
<h1></h1>
<div class="topnav">
  <a href="#">Псовые</a>
  <a href="#">Медвежьи</a>
  <a href="#">Куньи</a>
  <a href="#">Кошачьи</a>
  <a class="active" href="#">Гиеновые</a>
  <a href="#">Ластоногие</a>
</div>
<h1></h1>
<img style="float: left;" src="static/img/img/animals/33.png" />
<div style="float: right;">
  <form class="login_form_41">
    <h1>Полосатая гиена</h1>
    <h1></h1>
    <h4>Можно найти:</h4>
    <ul>
      <li>В Дагестане</li>
    </ul>
    <h1></h1>
    <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Полосатая_гиена" class="nubex">Полосатая гиена</a>
  </form>
</div>
{% endblock %}