{% extends "base.html" %}

{% block content %}
<div class="topnav">
  <a href="http://127.0.0.1:5000">Главная</a>
  <a class="active" href="http://127.0.0.1:5000/region">Субъекты РФ</a>
  <a href="#">Театры</a>
  <a href="#">Кинотеатры</a>
  <a href="#">Животные</a>
  <a href="#">Заповедники</a>
  <a href="#">Растения</a>
  <a href="#">ВК</a>
  <a href="#">Телеграм</a>
</div>
<div align="center">
    <form class="login_form">
        <h1>Магаданская область</h1>
    </form>
</div>
<p style="float: left;"><iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A2a41c2321bd2932b686df9b66af0063af3babfa3b513b964babe731cec82458b&amp;source=constructor" width="320" height="240" frameborder="0"></iframe></p>
<div style="float: right;">
    <form class="login_form_4">
        <h1>Увидеть самое романтичное место на Дальнем Востоке</h1>
    </form>
</div>
<div style="float: left;">
    <form class="login_form">
        <h1>Города, которые здесь находятся:</h1>
    </form>
</div>
<a style="float: left;" href="https://wikiway.com/russia/magadan/" class="nubex1">Магадан</a>
<div style="float: left;">
    <form class="login_form_6">
        <h1>Причины посетить Магаданскую область:</h1>
    </form>
</div>
<div style="float: left;">
    <form class="login_form_2">
        <div style="text-indent:35px;"><h3>1)Совершить морскую прогулку</h3></div>
        <div style="text-indent:35px;"><h3>2)Увидеть «Спящую красавицу»</h3></div>
        <div style="text-indent:35px;"><h3>3)Побывать на необитаемых островах</h3></div>
        <div style="text-indent:35px;"><h3>4)Посетить горячие источники на территории вечной мерзлоты</h3></div>
    </form>
</div>

<div style="float: left;" id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                  <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                              </ol>
                              <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                  <img src="/static/img/127.jpg" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                  <img src="/static/img/128.jpg" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                  <img src="/static/img/129.jpg" alt="Third slide">
                                </div>
                                  <div class="carousel-item">
                                  <img src="/static/img/130.jpg" alt="Fourth slide">
                                </div>
                              <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>
                        </div>
{% endblock %}
