{% extends "base.html" %}

{% block content %}
<div class="topnav">
  <a href="http://127.0.0.1:5000">Главная</a>
  <a href="http://127.0.0.1:5000/region">Субъекты РФ</a>
  <a href="#">Театры</a>
  <a href="#">Кинотеатры</a>
  <a class="active" href="#">Животные</a>
  <a href="#">Заповедники</a>
  <a href="#">Растения</a>
  <a href="#">ВК</a>
  <a href="#">Телеграм</a>
</div>
<h1></h1>
<div class="topnav">
  <a href="#">Насекомоядные</a>
  <a href="#">Рукокрылые</a>
  <a href="#">Грызуны</a>
  <a class="active" href="#">Хищные</a>
  <a href="#">Непарнокопытные</a>
  <a href="#">Жвачные</a>
  <a href="#">Китообразные</a>
</div>
<h1></h1>
<div class="topnav">
  <a href="#">Псовые</a>
  <a href="#">Медвежьи</a>
  <a class="active" href="#">Куньи</a>
  <a href="#">Кошачьи</a>
  <a href="#">Гиеновые</a>
  <a href="#">Ластоногие</a>
</div>
<h1></h1>
<div style="float: right;">
    <form class="login_form_41">
        <nav>
            <h1>Куньи</h1>
            <ul>
                <li><a href="#section1">Кавказская европейская норка</a></li>
                <li><a href="#section2">Перевязка</a></li>
                <li><a href="#section3">Выдра</a></li>
                <li><a href="#section4">Калан</a></li>
            </ul>
        </nav>
        <h1></h1>
        <h1 id="section1">Кавказская европейская норка</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Нижнем Поволжье</li>
            <li>В Нижнем Подонье</li>
            <li>На Кавказе</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Кавказская_европейская_норка" class="nubex">Кавказская европейская норка</a>
        <h1></h1>
        <h1 id="section2">Перевязка</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Северном Кавказе</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Перевязка" class="nubex">Перевязка</a>
        <h1></h1>
        <h1 id="section3">Выдра</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Чукотке</li>
            <li>В  Магаданской области</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Выдра" class="nubex">Выдра</a>
        <h1></h1>
        <h1 id="section4">Калан</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Курильских островах</li>
            <li>На  Командорских островах</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Калан" class="nubex1">Калан</a>
    </form>
</div>
<img style="float: left;" src="static/img/img/animals/22.png" />
<img style="float: left;" src="static/img/img/animals/23.png" />
<img style="float: left;" src="static/img/img/animals/24.png" />
<img style="float: left;" src="static/img/img/animals/25.png" />
{% endblock %}