{% extends "base.html" %}

{% block content %}
<div class="topnav">
  <a href="http://127.0.0.1:5000">Главная</a>
  <a href="http://127.0.0.1:5000/region">Субъекты РФ</a>
  <a href="#">Театры</a>
  <a href="#">Кинотеатры</a>
  <a class="active" href="#">Животные</a>
  <a href="#">Заповедники</a>
  <a href="#">Растения</a>
  <a href="#">ВК</a>
  <a href="#">Телеграм</a>
</div>
<h1></h1>
<div class="topnav">
  <a href="#">Насекомоядные</a>
  <a href="#">Рукокрылые</a>
  <a href="#">Грызуны</a>
  <a class="active" href="#">Хищные</a>
  <a href="#">Непарнокопытные</a>
  <a href="#">Жвачные</a>
  <a href="#">Китообразные</a>
</div>
<h1></h1>
<div class="topnav">
  <a href="#">Псовые</a>
  <a href="#">Медвежьи</a>
  <a href="#">Куньи</a>
  <a href="#">Кошачьи</a>
  <a href="#">Гиеновые</a>
  <a class="active" href="#">Ластоногие</a>
</div>
<h1></h1>
<div style="float: right;">
    <form class="login_form_41">
        <nav>
            <h1>Ластоногие</h1>
            <ul>
                <li><a href="#section1">Сивуч</a></li>
                <li><a href="#section2">Морж</a></li>
                <li><a href="#section3">Обыкновенный тюлень</a></li>
                <li><a href="#section4">Кольчатая нерпа</a></li>
                <li><a href="#section5">Каспийский тюлень</a></li>
                <li><a href="#section6">Длинномордый тюлень</a></li>
                <li><a href="#section7">Белобрюхий тюлень</a></li>
            </ul>
        </nav>
        <h1></h1>
        <h1 id="section1">Сивуч</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Камчатке</li>
            <li>На Командорских островах</li>
            <li>На Курильских островах</li>
            <li>На юге Чукотки</li>
            <li>В Магаданской области</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Сивуч" class="nubex">Сивуч</a>
        <h1></h1>
        <h1 id="section2">Морж</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Чукотском полуострове</li>
            <li>На острове Врангеля</li>
            <li>На море Лаптевых</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Морж" class="nubex">Морж</a>
        <h1></h1>
        <h1 id="section3">Обыкновенный тюлень</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Алтае</li>
            <li>У Кольского полуострова</li>
            <li>В  Архангельской области</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Обыкновенный_тюлень" class="nubex">Обыкновенный тюлень</a>
        <h1></h1>
        <h1 id="section4">Кольчатая нерпа</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В холодных регионах Балтийского моря</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Кольчатая_нерпа" class="nubex">Кольчатая нерпа</a>
        <h1></h1>
        <h1 id="section5">Каспийская нерпа</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Волгограде</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Каспийская_нерпа" class="nubex">Каспийская нерпа</a>
        <h1></h1>
        <h1 id="section6">Длинномордый тюлень</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В прибрежных районах Мурмана</li>
            <li>В Печорском море</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Длинномордый_тюлень" class="nubex">Длинномордый тюлень</a>
        <h1></h1>
        <h1 id="section7">Белобрюхий тюлень</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Крыму</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Белобрюхий_тюлень" class="nubex">Белобрюхий тюлень</a>
    </form>
</div>
<img style="float: left;" src="static/img/img/animals/34.png" />
<img style="float: left;" src="static/img/img/animals/35.png" />
<img style="float: left;" src="static/img/img/animals/36.png" />
<img style="float: left;" src="static/img/img/animals/37.png" />
<img style="float: left;" src="static/img/img/animals/38.png" />
<img style="float: left;" src="static/img/img/animals/39.png" />
<img style="float: left;" src="static/img/img/animals/40.png" />
{% endblock %}