{% extends "base.html" %}

{% block content %}
<div class="topnav">
  <a href="http://127.0.0.1:5000">Главная</a>
  <a href="http://127.0.0.1:5000/region">Субъекты РФ</a>
  <a href="#">Театры</a>
  <a href="#">Кинотеатры</a>
  <a class="active" href="#">Животные</a>
  <a href="#">Заповедники</a>
  <a href="#">Растения</a>
  <a href="#">ВК</a>
  <a href="#">Телеграм</a>
</div>
<h1></h1>
<div class="topnav">
  <a href="#">Насекомоядные</a>
  <a href="#">Рукокрылые</a>
  <a href="#">Грызуны</a>
  <a href="#">Хищные</a>
  <a href="#">Непарнокопытные</a>
  <a class="active" href="#">Жвачные</a>
  <a href="#">Китообразные</a>
</div>
<h1></h1>
<div style="float: right;">
    <form class="login_form_41">
        <nav>
            <h1>Жвачные</h1>
            <ul>
                <li><a href="#section1">Кабарга</a></li>
                <li><a href="#section2">Северный олень</a></li>
                <li><a href="#section3">Зубр</a></li>
                <li><a href="#section4">Дзерен</a></li>
                <li><a href="#section5">Сайгак</a></li>
                <li><a href="#section6">Амурский горал</a></li>
                <li><a href="#section7">Безоаровый козёл</a></li>
                <li><a href="#section8">Сибирский горный козёл</a></li>
                <li><a href="#section9">Алтайский горный баран</a></li>
                <li><a href="#section10">Снежный баран</a></li>
            </ul>
        </nav>
        <h1></h1>
        <h1 id="section1">Кабарга</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>На Алтае</li>
            <li>В Восточной Сибири</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Кабарга" class="nubex">Кабарга</a>
        <h1></h1>
        <h1 id="section2">Северный олень</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Карелии</li>
            <li>На западе Кольского полуострова</li>
            <li>На Урале</li>
            <li>В Сибири</li>
            <li>На Северном Сахалине</li>
            <li>На Камчатке</li>
            <li>На большинстве островов Арктики</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Северный_олень" class="nubex">Северный олень</a>
        <h1></h1>
        <h1 id="section3">Зубр</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Орловской области</li>
            <li>В Калужской области</li>
            <li>В Брянской области</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Зубр" class="nubex">Зубр</a>
        <h1></h1>
        <h1 id="section4">Дзерен</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Калмыкии</li>
            <li>В Забайкалье</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Дзерен" class="nubex">Дзерен</a>
        <h1></h1>
        <h1 id="section5">Сайгак</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Северо-Западном Прикаспии</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Сайга" class="nubex">Сайгак</a>
        <h1></h1>
        <h1 id="section6">Горал</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Южном Приморье</li>
            <li>В Буреинских горах</li>
            <li>На Сихоте-Алине</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Горал" class="nubex">Горал</a>
        <h1></h1>
        <h1 id="section7">Безоаровый козёл</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Дагестане</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Безоаровый_козёл" class="nubex">Безоаровый козёл</a>
        <h1></h1>
        <h1 id="section8">Сибирский горный козёл</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Сибири</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Дзерен" class="nubex">Сибирский горный козёл</a>
        <h1></h1>
        <h1 id="section9">Архар</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Забайкальском крае</li>
            <li>В Красноярском крае</li>
            <li>В Республике Алтай</li>
            <li>В Республике Бурятия</li>
            <li>В Республике Тыва</li>
            <li>В Республике Хакасия</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Архар" class="nubex">Архар</a>
        <h1></h1>
        <h1 id="section10">Снежный баран</h1>
        <h4>Можно найти:</h4>
        <ul>
            <li>В Сибири</li>
        </ul>
        <h1></h1>
        <h4>Больше информации:</h4><a href="https://ru.wikipedia.org/wiki/Снежный_баран" class="nubex">Снежный баран</a>
    </form>
</div>
<img style="float: left;" src="static/img/img/animals/43.png" />
<img style="float: left;" src="static/img/img/animals/44.png" />
<img style="float: left;" src="static/img/img/animals/45.png" />
<img style="float: left;" src="static/img/img/animals/46.png" />
<img style="float: left;" src="static/img/img/animals/47.png" />
<img style="float: left;" src="static/img/img/animals/48.png" />
<img style="float: left;" src="static/img/img/animals/49.png" />
<img style="float: left;" src="static/img/img/animals/50.png" />
<img style="float: left;" src="static/img/img/animals/51.png" />
<img style="float: left;" src="static/img/img/animals/52.png" />
{% endblock %}